@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.crumb{
    font-size: 1.563rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #fafffd;
}

.submitBtn{
    background-color: #74a57f;
    border-color: #74a57f;
}

p{
    font-size: 1.25rem;
    color: #071013;
}

/* About me page links */
.emailLink{
    color: #74a57f;
    text-decoration: none;
}
.emailLink:hover{
    color: #ffe66d;
}

.projectsLink{
    color: #74a57f;
    text-decoration: none;
}
.projectsLink:hover{
    color: #ffe66d;
}

/* Margin between content and crumb */
.contactForm{
    max-width: 630px;
}

.navigation{
    background-color: #071013;
    margin-bottom: 15px;
}
.nav-link{
    color: #E5E5E5 !important;
}
.icon-color{
    color: #E5E5E5 !important;
}

.logoImage{
    margin-left: 50px;
}

/* Projects page */
.github-link{
    text-decoration: none;
    color: #E5E5E5;
}

.project{
    background-color: #74a57f;
    color: #E5E5E5;
}