/* Colors */
:root {
    --text: hsl(220, 60%, 1%);
    --background: hsl(0, 0%, 99%);
    --primary: hsl(44, 10%, 21%);
    --secondary: hsl(105, 10%, 84%);
    --accent: hsl(46, 10%, 44%);
  }

/* CSS Reset */
/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/* min body height */

body {
  min-height: 100vh;
}


/* Navigation */
nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

a{
  color: var(--text);
  text-decoration: none;
}

.page-links{
  display: flex;
  gap: 2rem;
}

/* Content */
section{
  padding: 10rem 2rem
}

xp-section{
  
}