/* Colors */
:root {
  --text: hsl(220, 60%, 1%);
  --background: hsl(0, 0%, 99%);
  --dark-background: #1d1d1d;
  --primary: hsl(44, 10%, 21%);
  --secondary: hsl(105, 10%, 84%);
  --accent: hsl(46, 10%, 44%);
  --border-radius: 6px;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins';
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 3.053rem;
  /* 48.8px */
}

h2 {
  font-size: 2.442rem;
  /* 39.04px */
}

h3 {
  font-size: 1.954rem;
  /* 31.2px */
}

h4 {
  font-size: 1.563rem;
  /* 24.96px */
}

h5 {
  font-size: 1.250rem;
  /* 20px */
}

small {
  font-size: 0.800rem;
  /* 12.8px */
}

/* CSS Reset */
/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

body {
  min-height: 100vh;
}

.icon {
  width: auto;
  height: 1rem;
}

.icon-links {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  border-bottom: solid var(--secondary);
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
}

a {
  color: var(--text);
  text-decoration: none;
}

.page-links {
  display: flex;
  gap: 1rem;
}

.contact-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
}

.contact-link {
  width: auto;
  height: 1.2rem;
}

/* Content */
section {
  padding: 2rem 6rem;
  width: 100%;
  height: 90svh;
}

.btn {
  border-radius: var(--border-radius);
  padding: 0.8rem;
}

.primary-btn {
  color: var(--background);
  background-color: var(--primary);
  font-weight: 700;
}

.secondary-btn {
  color: var(--primary);
  background-color: var(--secondary);
}

/* Landing Section */

.landing-section {
  position: relative;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.landing-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.circle-thingy {
  position: absolute;
  width: 14rem;
  height: 14rem;
  border-radius: 100rem;
  background-color: var(--secondary);
  z-index: -1;
  top: 20vh;
  left: 60vw;
}

/* Projects Section */
.project-list {
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: var(--border-radius);
  /* hover effect on project box */
  float: left;
  transition: box-shadow .3s;
}

.project:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* XP Section */
.xp-section {
  background-color: var(--dark-background);
  color: white;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.blob-thingy {
  grid-area: 1 / 1 / 2 / 2;
}

.education {
  grid-area: 2 / 1 / 3 / 2;
}

.xp {
  grid-area: 1 / 2 / 3 / 3;
}

.job>small {
  color: #e0e0e0;
}

.education>small {
  color: #e0e0e0;
}

/* Contact Section */
.contact-section {
  background-color: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-background);
  height: 60vh;
  padding: 2rem;
  border-radius: var(--border-radius);
  gap: 1rem;
  color: white;
}

.types {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

form>input,
textarea {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: solid var(--secondary);
  background-color: transparent;
  color: white;
}

textarea {
  resize: none;
}

form>button {
  align-self: flex-end;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
}

@media screen and (max-width: 700px) {
  html {font-size: 100%;} /* 16px */

  h1 {font-size: 2.489rem; /* 39.84px */}
  
  h2 {font-size: 2.074rem; /* 33.12px */}
  
  h3 {font-size: 1.728rem; /* 27.68px */}
  
  h4 {font-size: 1.440rem; /* 23.04px */}
  
  h5 {font-size: 1.200rem; /* 19.2px */}
  
  small {font-size: 0.833rem; /* 13.28px */}

  section{
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  html {font-size: 100%;} /* 16px */

h1 {font-size: 1.802rem; /* 28.8px */}

h2 {font-size: 1.602rem; /* 25.6px */}

h3 {font-size: 1.424rem; /* 22.72px */}

h4 {font-size: 1.266rem; /* 20.32px */}

h5 {font-size: 1.125rem; /* 18.08px */}

small {font-size: 0.889rem; /* 14.24px */}
  

.page-links {
  gap: .4rem;
}

section{
  height: 100vh;
}
}